#
# JMC
#
FROM docker.io/zx80/jmc-base
LABEL description="JSON Model Compiler"

# installation options
ARG JMC=main
ARG JSU=main

# needed with git history to compute the version
RUN /app/venv/bin/pip install setuptools-git-versioning

#
# actual application stuff is installed from sources
#
# JMC
#
# ADD + git fetch trick helps with docker build caching
ADD --keep-git-dir https://github.com/clairey-zx81/json-model.git /app/json-model
RUN cd /app/json-model && git fetch --unshallow && git checkout ${JMC}
RUN git config --system --add safe.directory /app/json-model

# install py
RUN /app/venv/bin/pip install -e ./json-model

#
# JSU
#
ADD --keep-git-dir https://github.com/zx80/json-schema-utils.git /app/json-schema-utils
RUN cd /app/json-schema-utils && git fetch --unshallow && git checkout ${JSU}
RUN git config --system --add safe.directory /app/json-schema-utils

# install py
RUN /app/venv/bin/pip install -e ./json-schema-utils

# jmc runtime
ENV jmc_rt=/app/json-model/json_model/runtime

# install js
RUN npm install file:$jmc_rt/js

# compile java runtime
RUN make -C $jmc_rt/java jar
ENV CLASSPATH=$CLASSPATH:$jmc_rt/java/json-model.jar

# compile C runtime, with re2 by default
RUN make CC=clang -C $jmc_rt/c compile

# fix perms to allow any uid to read/write
RUN find /app -type d -print0 | xargs -0 chmod a+rwx
RUN find /app -type f -print0 | xargs -0 chmod a+rw

RUN mkdir /app/workspace
WORKDIR /app/workspace

# setup docker entry point and utils
ENV TMPDIR=/tmp
ENV JSON_MODEL_CACHEDIR=/tmp
ENV PERLLIB=$jmc_rt/pl/lib
ENV PATH=$PATH:.
ENTRYPOINT ["/app/venv/bin/jmc"]
